body {
    background-color: #cfcece !important;
}
.container {
    min-height: 100vh;
    background-color: #cfcece !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}
.quiz_card {
    width: 30rem;
}
.quize-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}
.bg-success .bg-danger {
    color: white;
}
.text-center {
    text-align: center;
}
#header_img {
    height: 120px;
    width: 120px;
}
.button_row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}